  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height:500px;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
